<div class="WalletModal_walletmodal">
  <div class="WalletModal_overlay__KakKu"></div>
  <div class="WalletModal_container__xh7x4">
    <div class="WalletModal_top-section__oFuTD">
      <h3>Connect Wallet</h3>
      <div>
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="xmark"
          class="svg-inline--fa fa-xmark WalletModal_icon__9d6O-"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512"
        >
          <path
            fill="currentColor"
            d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"
          ></path>
        </svg>
      </div>
    </div>
    <p>Choose your preferred wallet</p>
    <div class="WalletModal_bottom-section__JLy8X">
      <div class="WalletModal_box__+fNDm">
        <div class="WalletModal_text__fhZ0f">
          <img
            src="/static/media/lion.7dea21aa0d244cdfa8f0c48d5178a2ea.svg"
            alt="lion-logo"
          />Metamask
        </div>
        <div>
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="angle-right"
            class="svg-inline--fa fa-angle-right WalletModal_icon__9d6O-"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              fill="currentColor"
              d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="WalletModal_box__+fNDm">
        <div class="WalletModal_text__fhZ0f">
          <img
            src="/static/media/wallet.cb82542055fa77e725b26197ea919674.svg"
            alt="wallet-logo"
          />WalletConnect
        </div>
        <div>
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="angle-right"
            class="svg-inline--fa fa-angle-right WalletModal_icon__9d6O-"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              fill="currentColor"
              d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
